.apartment-details {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.details-left {
    margin-top: 36px;
    margin-bottom: 24px;
}

.apartment-title {
    font-size: 36px;
    font-weight: 500;
    margin: 0;
}

.apartment-location {
    font-size: 18px;
    font-weight: 500;
    margin-top: 0;
}

.apartment-tags {
    display: flex;
    flex-direction: row;
    column-gap: 10px;
}

.apartment-tag {
    color: white;
    background-color: #FF6060;
    border-radius: 10px;
    font-size: 14px;
    padding: 2px 30px;
}

.details-right {
    margin-top: 24px;
    display: flex;
    flex-direction: column;
    row-gap: 25px;
}

.apartment-host {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    column-gap: 10px;
}

.apartment-host-picture {
    border-radius: 50%;
    width: 64px;
    height: 64px;
}

.apartment-rating {
    display: flex;
    flex-direction: row;
    column-gap: 15px;
}