.apartment-details {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.details-left {
    margin-top: 36px;
    margin-bottom: 24px;
}

.apartment-title {
    font-size: 36px;
    font-weight: 500;
    margin: 0;
}

.apartment-location {
    font-size: 18px;
    font-weight: 500;
    margin-top: 0;
}

.apartment-tags {
    display: flex;
    flex-direction: row;
    column-gap: 10px;
}

.details-right {
    margin-top: 24px;
    display: flex;
    flex-direction: column;
    row-gap: 25px;
}

.apartment-host {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-end;
    column-gap: 10px;
}

.apartment-host-picture {
    border-radius: 50%;
    width: 64px;
    height: 64px;
}

.apartment-rating {
    display: flex;
    flex-direction: row;
    column-gap: 15px;
}

.apartment-information {
    display: flex;
    flex-direction: row;
    row-gap: 76px;
    justify-content: space-between;
    margin-bottom: 15px;
}

.collapse-left, .collapse-right {
    width: 45%;
}

.collapse-title {
    font-size: 18px;
    font-weight: 500;
}

.equipments-list {
    list-style: none;
    font-size: 18px;
    font-weight: 400;
}

.description {
    font-size: 18px;
    font-weight: 400;
}

